body {
    background-color: rgb(5, 85, 85);
}

h1{
    
     color: aliceblue;
    font-style: italic;
    display: flex;
   
}

nav a {
   margin: 15px;
    color: aliceblue;  
  align-items:center ;     
 text-align: center;
 padding-right: 2px;
 text-decoration: none;
 margin-right: 20px;
}
header {
    background-color: rgb(4, 37, 48);
    border-radius: 20px;
    padding-right: 50px;
    margin-right: 50px;
    
}
nav a:hover {
    background-color: rgb(4, 94, 94);
}

 p{
    color: aliceblue;
    font-style: italic;
   
    text-align: left;
    width: 50%;

}
h2 {
color: aliceblue;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    background-color:rgb(4, 94, 94);
    text-decoration: none;
}
