
body {
    background-color: #050e2d;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 50vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}
.menu-btn {
    font-size: 30px;
    cursor: pointer;
    top: 15px;
    left: 15px;
    background-color:  #050e2d;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}


h1{
    
     color: aliceblue;
    font-style: italic;
    display: flex;
    
   
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
   margin: 15px;
    color: aliceblue;  
  align-items:center ;     
 text-align: center;
 padding-right: 2px;
 text-decoration: none;
 margin-right: 20px;

}
header {
    background-color: #1b2141;
    border-radius: 20px;
    padding-right: 50px;
    margin-right: 50px;
   padding: 15px;
  

    
}
nav a:hover {
    background-color: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
    border-radius: 5px;
}

 p{
    color: aliceblue;
    font-style: italic;
   
    text-align: left;
    width: 50%;

}
h2 {
color: aliceblue;
margin-top: -30px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    background-color:rgb(4, 94, 94);
    text-decoration: none;
}
  .warrior {
   
    position: absolute; 
    right: 20px;
    top: 350px; 
    width: 350px; 
    height: auto;
    border-radius: 20px; 
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    right : 100px;
    bottom: 100px;
}
section{
    padding: 100px 20px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.weblogo{
  
        position: absolute;
        top: 5px; 
        right: 5px; 
        width: 80px; 
        height: 80px; /* 
        border-radius: 50%; 
        object-fit: cover;
}


.search-container {
    display: flex;
    align-items: center;
    background:#050e2d;
    padding: 3px;
    border-radius: 20px;
    margin-left: 20px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.search-box {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    width: 120px; 
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
}
.GAME {
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;

}
.GAME ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

.GAME ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius:5px ;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: aliceblue;
}

.list {
    display: inline-block; 
    padding: 10px 20px;
    background-color: transparent; 
    color: black;
    border: 2px solid aqua;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    list-style: none; 
    margin: 5px;
}

.list:hover {
    background-color: aqua; 
    color: black; 
}

.GAME .cardbx{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.GAME .cardbx .card{
    border-radius: 10px;
    width: 280px;
    margin: 20px 40px;
    background-color: #1b2141;
    overflow: hidden;
}
.GAME .cardbx .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;


}
.GAME .cardbx .card .content{
    padding: 10px;

}
.GAME .cardbx .card .content h4{
    color: aliceblue;
    margin: 15px 0;

}
.GAME .cardbx .card .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #35407e;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0, 5,1) forwards;

}
.GAME .cardbx .card .progress-line span{
    position: relative;
    height:100%;
    width: 80%;
    border-radius: 10px;
    background: #002020;
    box-shadow: 0  0 10px #013c3c;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0, 5,1) forwards;
}
@keyframes animate{
    100%{
 transform: scaleX(1);
}
}
.GAME .cardbx .card .Info{
   border-top:  2px solid #35407e;
    display:flex;
    justify-content: center;
    margin-top: -30px;
    
 

   

}
.GAME .cardbx .card .Info a{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    color: aliceblue;
    border-radius: 3px;
    text-align: center;
    
 
} 




 .GAME .card .cardbx .content .arena {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.mixture{
 position: absolute;
 height: auto;
 width: 450px;
    right: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    margin-top: -65px; 
   
}


  
  /* Contact form styling */
  .contact-form {
    max-width: 400px;
    display: inline-block;
    margin: 0;
    padding: 20px;
 
    border-radius: 8px;
    margin-left: 200px; 
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: 400px; 
  }
  
  
  .contact-form h2 {
    text-align: center;
    color: #333; 
  }
  
  .contact-form label {
    display: block;
    margin-top: 10px;
    color: #333;
  }
  
 
  .contact-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #4682b4;
  }
  
  .contactpic{
    width: 350px; 
    height: auto;
    border-radius: 20px; 
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    right : 100px;
    bottom: 100px;
  }
